.CoachCard{
    width: 300px;
    border: 1px solid grey;
    margin-left: 515px;
}
.resultCard{
    width: 300px;
    border: 1px solid grey;
    margin-top: 10px;
    margin-left: 25px;
}
.card{
    display: flex;
    flex-wrap: wrap;
}
.card h3{
    color: goldenrod;
    width: 300px;
    text-align: center;
}
.card p{
    width: 300px;
    text-align: center;
}
.card Button{
    margin-left: 80px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 25px;
    background: goldenrod;
    border: none;
}
.text-coach h1{
    width: 1350px;
    text-align: center;
}
.text-team h1{
    width: 1320px;
    text-align: center;
}