.resultShow{
    margin-top: 50px;
    margin-left: 100px;
}
.result{
    margin-top: 10px;
    margin-left: 25px;
    width: 300px;
    background: white;
    border: 2px solid #000;
}
.result img{
    width: 300px;
    height: 350px;
}
.result h3{
    color: goldenrod;
    text-align: center;
}
.result p{
    text-align: center;
}
.text-user h1{
    text-align: center;
    width: 1350px;
}
.createPlayerUser{
    width: 100%;
}
.create-user{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}