.text{
    margin: auto;
}
.text h1{
    text-transform: uppercase;
}
.Input{
    margin: 10px 280px;
    padding: 5px 10px;
    outline: none;
    border: 2px solid #ccc;
}
.Input:focus{
    outline: none;
}
.Form input {
    display: block;
}
.button{
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border: 2px solid #009926;
    background: white;
    margin-left: 280px;
}
.button:hover{
    background: #41DB00;
}