.container{
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.part-1 h1{
    text-transform: uppercase;
    text-align: center;
}
.text{
    display: flex;
    width: 1100px;
}
.text img{
    width: 150px;
    height: 200px;
}
.text p {
    margin-left: 20px;
    font-weight: bold;
    line-height: 1.9;
}
.stadium h1{
    text-align: center;
    text-transform: uppercase;
}
.stadium img{
    width: 550px;
    height: 400px;
}
.textAndImg{
     display: flex;
}
.stadiumText{
    display: block;
}
.textAndImg p{
    font-weight: bold;
    line-height: 1.3;
}
.StadiumInside{
    display: flex;
}
.StadiumInside img{
    width: 750px;
    height: 500px;
}
.StadiumInside ul{
    font-weight: bold;
    margin-left: 80px;
}
.AchievementsRealMadrid h1{
    text-align: center;
}
.AchievementsRealMadrid span{
    font-weight: bold;
}