.header{
    display: flex;
    width: 100%;
    height: 140px;
    background: cornflowerblue;
}
.navText{
    display: flex;
}
.navText h1{
    margin: 50px 50px 0 30px;
}
.navText a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.logo{
    margin-left: 195px;
    margin-right: 380px;
}
.logo img{
    margin: 30px 55px 0 55px;
    width: 60px;
    height: 70px;
}
.logo p{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: whitesmoke;
    margin: 0;
}